#app {
    padding: 1em 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
a {
    color: #008CBA;
    line-height: inherit;
    text-decoration: none;

    &:hover, &:focus {
        color: #0078a0;
    }
}
body {
    min-width: 44rem;
    background: #fff;
    color: #222;
    cursor: auto;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
}

.trip-filter__type {
    input[type="checkbox"] + label {
        display: block;
    }
}

.actions {
    button.small {
        padding: .5em;
        margin-bottom: .5em;
        margin-right: .5em;
    }
}

.rw-numberpicker {
    display: inline-block;
    width: 70px;

    input {
        &.rw-input{
            margin: 0;
        }
    }
}

input[type="checkbox"] {
    visibility: hidden;
    height: 0;
    margin: 0;

    & + label {
        margin: 0;
        padding: 2em;
        background: yellow;
    }

    &:checked + label {
        background: green;
        color: white;
    }
}

.typeahead {
    position: relative;

    &-tokenizer {
        margin: 1em 0;
    }

    &-token {
        display: inline-block;
        padding: .5em;
        background: lightgrey;
        color: #000;
        margin: .5em .5em .5em 0;

        &-close {
            margin-left: .5em;
            padding: .3em;
            color: red;
        }
    }


    ul.typeahead-selector {
        // position: absolute;
        // z-index: 1000;
        // width: 100%;
        margin: 0;
        list-style-type: none;
        background: lighten(grey, 40%);

        li {
            a {
                padding: 1em;
                display: block;

                &:hover {
                    background: lighten(grey, 20%);
                }
            }
        }
    }
}

.date-picker {
    max-height: 16.25rem;
}

.trip-list {
    .row {
        padding: 1em 0;

        &:nth-child(odd) {
            background: darken(white, 10%);
            &.edit {
                background: darken(white, 30%);
            }
        }

        &.edit {
            background: darken(white, 20%);
        }
    }
}

.trip-box {

    .trip-form {
        margin-bottom: 2rem;
    }
}

.heading {
    background: #007095;
    color: #fff;
    padding: 1rem 0;
}

.date-picker .dp-table .dp-cell.dp-value {
    background: green;
    color: white;
}
.date-picker .dp-table .dp-cell.dp-current {
    background: #fef;
}

.btn-view {
    background: cyan;
    color: #000;

    &:hover, &:focus {
        background: darken(cyan, 10%);
        color: #000;
    }
}

.logout {
    .column {
        margin-top: 1rem;
    }
}

.filter-info {
    > .column {

        margin: .5rem 0;

        span {
            display: block;
            padding: .5rem 0;
            &.heading {
                text-align: center;
                background: darken(white, 40%);
            }
        }
    }
}

// Turn off webkit spinner on number input
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Printing styles */
.print {
    .print-hide {
        display: none;

        &.view-show {
            display: inherit;
        }
    }
    .heading {
        background: #007095;
        color: #fff;
        padding: 1rem 0;
    }

    .trip-list {
        .row {
            padding: 1em 0;

            &:nth-child(odd) {
                background: darken(white, 10%)!important;
            }
        }
    }

    // print grid
    @for $i from 1 through 12 {
        .print-#{$i} {
            width: calc((100% / 12) * #{$i});
            // width: gridCalc($i, 12);
        }
    }

}

.row {
    margin: 0 auto;
    max-width: 62.5rem;
    width: 100%;
    &:before, &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}
.column, .columns {
    position: relative;
    float: left;
    width: 100%;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}
.column + .column:last-child, .columns + .column:last-child, .column + .columns:last-child, .columns + .columns:last-child {
    float: right;
}

@for $i from 1 through 12 {
    .medium-#{$i} {
        width: calc((100% / 12) * #{$i});
    }
}

button, .button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem 1.0625rem 2rem;
    font-size: 1rem;
    background-color: #008CBA;
    border-color: #007095;
    color: #FFFFFF;
    display: inline-block;
}

input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 0.875rem;
    height: 2.3125rem;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

textarea[rows] {
    height: auto;
}

.text-left    { text-align: left !important; }
.text-right   { text-align: right !important; }
.text-center  { text-align: center !important; }
.text-justify { text-align: justify !important; }
.left         { float: left !important; }
.right         { float: right !important; }

@media print {

    body {
        min-width: 0;
    }

    .print-hide {
        display: none!important;
    }

    .heading {
        background: #007095!important;
        color: #fff!important;
        padding: 1rem 0;
        * {
            color: #fff!important;
        }
    }

    .filter-info {
        span {
            &.heading {
                background: darken(white, 40%)!important;
            }
        }
    }

    .trip-list {
        .row {
            padding: 1em 0;

            &:nth-child(odd) {
                background: darken(white, 10%)!important;
            }
        }
    }

    // print grid
    @for $i from 1 through 12 {
        .print-#{$i} {
            width: calc((100% / 12) * #{$i});
            // width: gridCalc($i, 12);
        }
    }

}
